# === python ===
__pycache__/
*.py[cod]

# === venv ===
.venv/

# === pep 582 ===
__pypackages__/


# === mypy ===
.mypy_cache/

# === ruff ===
.ruff_cache/

# === pytest ===
.pytest_cache/

# === coverage ===
.coverage

# === sphinx ===
doc/_build/
doc/api/_autosummary

# == jupyter
*.ipynb_checkpoints

# == setuptools
*.egg-info
*.egg
dist/
